@import '../common/colors';

.sidebar {
  position: fixed;
  width: 140px;
  top: 0px;
  left: 0px;
  height: 100vh;
  background-color: var(--colorBlueDark);
  border-right: 1px solid transparent;
  overflow: auto;
  z-index: 2;
}

.sidebar li[class="list-group-item"]{
  background-color: transparent;
  border-width: 0px;
  border-top-width: 1px;
  font-size: 12px;
  position: relative;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 10px;
}

.sidebar li[class="list-group-item"]:first-child{
  border-top: 0px;
  margin-top: 90px;
}

.sidebar li[class="list-group-item"]:last-child{
  margin-bottom: 90px;
}

.sidebar li[class="list-group-item"] > a{
  display: block;
  padding: 60px 15px 15px 15px;
  position: relative;
  color: var(--colorGreyLight);
  font-weight: 100;
  text-decoration: none;
  text-align: center;
}

.sidebar li[class="list-group-item"] > a:active, .sidebar li[class="list-group-item"] > a:hover, .sidebar li[class="list-group-item"] > a:focus{
  color: var(--colorGreen);
  text-decoration: none;
}

.sidebar li[class="list-group-item"] > a.active{
  color: var(--colorGreen);
}

/*.active{

}*/

.icon{
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -12px;
  font-size: 24px;
}

/*sidebar
.navbar {
  z-index: 2;
}

.container-fluid.page.dashboard{
  padding-left: 160px;
  padding-right: 20px;
}*/
