@import '../settings';
@import '../common/colors';
@import '../common/typography';

.middle{
  width: 600px;
  max-width: 100%;
}

.message {
  display: none;
  padding: 12px 0;
  border-radius: var(--globalRadius);
  color: var(--colorBlack);
  font-size: var(--fontMedium);
  text-align: center;
}

.show {
  display: block;
}

/*.success {
  background-color: var(--colorSalem);
  color: var(--colorWhite);
}*/
