@import '../common/colors';
@import '../common/typography';

.navigation {
  background-color: #2c3948;
  border-color: #192028;
  z-index: 3;
  position: relative;
}

.item {
  display: inline-block;
  text-decoration: none;
  padding: 16px 32px;
  color: var(--colorBlack);
}

.logo {
  font-size: var(--fontHuge);
}

.active {
  color: var(--colorDodgerBlue);
}
