@import '../common/colors';
@import '../common/typography';

.navigation {
  background-color: var(--colorBlueHide);
  border-color: var(--colorBlueBlack);
  z-index: 3;
  position: relative;
}

.navigation ul[class*="nav"] > li[class="active"] > a{
  background-color: transparent;
}

/*.navigation ul[class*="nav"]{
  border: 1px solid green;
}

.navigation ul[class*="nav"] > li{
  border: 1px solid green;
}

*/

/*.navigation ul[class*="nav"] li[class="presentation"] {
  display: inline-block;
  text-decoration: none;
  padding: 16px 32px;
  color: var(--colorBlack);
}

.active {
  color: var(--colorDodgerBlue);
}*/

.logo {
  font-size: var(--fontHuge);
}
